.SendEnv {
    margin: 20px auto;
    width: 80%;
    max-width: 20em;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.SendEnv label {
    text-align: left;
}

@media (min-width: 600px) {
    .SendEnv {
        width: 500px;
    }
}